@import url('../../App.css');
@import url('./Form.css');

:host {
  font-family: 'Lato Regular', sans-serif;
}

article,
.photo,
section {
  position: absolute;
}

article {
  top: 0;
  left: 0;
  width: 52%;
  height: 100vh;
}

img[alt~='logo'] {
  margin: 28px 0 0 28px;
}

a {
  position: relative;
  float: right;
  margin: 26px 28px 0 0;
  padding-right: 18px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--color-blue);
  cursor: pointer;
}

a:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  background-image: url(../../../public/assets/arrow-login.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

a.left {
  display: none;
}

a.right {
  display: block;
}

section,
form {
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 30px;
}

section {
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: var(--form-width);
}

section form div {
  position: relative;
}

section form div:last-of-type {
  margin-top: 20px;
}

h1 {
  margin: 0;
  line-height: 100px;
  font-size: 90px;
  text-transform: uppercase;
  font-family: 'Alegreya Medium', sans-serif;
}

.photo {
  top: 0;
  width: 48%;
  min-height: 100vh;
  object-fit: contain;
  background-image: url(../../../public/assets/landscape.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: rotateY(180deg);
  z-index: 1;
}

.photo.right {
  /* right: 0; */
  transform: translateX(calc(100vw - 100%));
}

.photo.left {
  /* left: 0; */
  transform: translateX(0);
  transition: transform 0.5s ease;
}