@import url('../../App.css');
@import url('./Form.css');

:host {
  font-family: 'Lato Regular', sans-serif;
}

a {
  position: relative;
  float: left;
  margin: 26px 0 0 28px;
  padding-left: 18px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--color-blue);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotateY(180deg);
  height: 12px;
  width: 12px;
  background-image: url(../../../public/assets/arrow-login.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

article,
section {
  position: absolute;
}

article {
  top: 0;
  right: 0;
  width: 52%;
  height: 100vh;
}

img[alt~='logo'] {
  margin: 0;
  width: var(--form-width);
}

h2 {
  margin: 32px 0 50px;
  font-size: 20px;
  color: var(--color-purple-grey);
  font-family: 'Lato Light', sans-serif;
}

section,
form {
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 30px;
}

section {
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 350px;
}

section form div {
  position: relative;
}

section form .password-form {
  margin-top: 20px;
}

.photo {
  top: 0;
  left: 0;
  width: 48%;
  min-height: 100vh;
  object-fit: contain;
  background-image: url(../../../public/assets/landscape.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
  z-index: 1;
}

error[hidden] {
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  .photo {
    display: none;
  }

  article {
    right: initial;
    width: 100%;
  }
}