
:host {
  --margin-left: 24px;
  --form-width: 350px;
}

label,
input {
  font-size: 16px;
  letter-spacing: 0.4px;
}

label {
  position: absolute;
  color: var(--color-input-placeholder);
  transform: translate(var(--margin-left), 23px) scale(1);
  transition: all 0.2s ease-in-out;
  cursor: text;
}

label.active {
  font-size: 12px;
  transform: translate(calc(var(--margin-left) + 1px), 11px) scale(1);
}

input {
  height: 48px;
  width: calc(100% - 2 * var(--margin-left));
  padding: 12px var(--margin-left) 0;
  border-radius: 6px;
  color: var(--color-input-text);
  background-color: var(--color-input-background);
  border-color: transparent;
}

input:hover,
input:focus {
  background-color: var(--color-input-background-hover);
}

input[type='password']:after {
  content: '';
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../public/assets/password-hide.svg);
}

button {
  width: 150px;
  height: 60px;
  display: block;
  margin: 40px 0 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-button-hover);
}

button:active {
  border: transparent;
}

img[alt^='eye'] {
  position: absolute;
  top: calc(50% + 2px);
  right: var(--margin-left);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
}