@font-face {
  font-family: 'Alegreya Medium';
  src: url(/public/fonts/Alegreya-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Lato Light';
  src: url(/public/fonts/Lato-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url(/public/fonts/Lato-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Lato Black';
  src: url(/public/fonts/Lato-Black.ttf) format('ttf');
}

:host {
  /* Colors */
  --color-black: #272838;
  --color-purple-grey: #636578;
  --color-white: #FFF;
  --color-blue: #5DA2D5;
  --color-red: #F78888;
  --color-yellow: #F3D250;
  --color-error: #E20225;

  /* Inputs */
  --color-input-background: #ECF1F4AB;
  --color-input-background-hover: #E3E7EACC;
  --color-input-placeholder: #717171;
  --color-input-text: #3A3A3A;
  --color-button-hover: #4092C4;
}

error {
  display: flex;
  flex-direction: row;
  width: 320px;
  margin: 10px auto 0;
  align-items: center;
  justify-content: center;
}

error div {
  content: '';
  margin-right: 10px;
  height: 19px;
  width: 19px;
  min-width: 19px;
  border-radius: 50%;
  vertical-align: sub;
  background-image: url(/public/assets/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px;
  background-color: var(--color-error);
}

error p {
  padding: 0;
  margin: 0;
  width: 350px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.4px;
  text-align: left;
  color: var(--color-error);
}

/* Image moving from right to left */

@keyframes moveRightLeft {
  0% {
    right: 0;
  }

  100% {
    left: 0;
  }
}

/* Loader */

.loader-earth {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 40%;
}

#world {
  /* display: none;
  animation: turnAround linear 2s infinite;
  transform-origin: center;
  transform-box: fill-box; */
}

#plane {
  animation: turnAround linear 5s infinite;

  /* display: none; */
}

@keyframes turnAround {
  from {
    transform: rotateZ(360deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

.line {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 40%;
}

.line path {
  stroke-dasharray: 1000;
  animation: fill 4.2s ease-out infinite;
}

@keyframes fill {
  0% {
    stroke-dashoffset: -1000;
  }

  90% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}