:root {
  /* Colors */
  --color-black: #272838;
  --color-white: #FFF;
  --color-blue: #5DA2D5;
  --color-red: #F78888;
  --color-yellow: #F3D250;

  /* Inputs */
  --color-input-background: #ECF1F4;
  --color-input-background-hover: #E3E7EA;
  --color-input-placeholder: #717171;
  --color-input-text: #3A3A3A;
  --color-button-hover: #4092C4;
}

@font-face {
  font-family: 'Alegreya Medium';
  src: url('../public/fonts/Alegreya-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../public/fonts/Lato-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato Black';
  src: url('../public/fonts/Lato-Black.ttf') format('ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular', sans-serif;
  color: var(--color-black);
}